<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--Placeholder name for the app, happy to take suggestions... doesn't really matter but figured we should give it one-->
    <title>PokeNode Home</title>
    <!--Will want to include some CSS eventually-->
</head>
<body>
    <h1>Welcome to PokeNode!</h1>
    <hr>
    <p>PokeNode is a web app that allows you to create and share custom Pokemon!</p>
    <p>Click <a href="">here</a> to create your own custom Pokemon!</p>
    <p>Click <a href="">here</a> to find a custom Pokemon!</p>
    <p>Need some inspiration? Click <a href="http://localhost:5000/findPokemon">here</a> to find the Pokedex entry for a real Pokemon!</p>
</body>
</html>